@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    border-radius: 7px;
    width: 1900px;
    height: 105px;
    background: rgba(89, 8, 118, 0.75);
}
.header .head-text {
    text-align: center;
    font-size: 64px;
}
.footnote {
    position: fixed;
    bottom: 0;
    left: 46.037vw;
    right: 46.037vw;
    padding: 2px;
    border-radius: 7px;
    background: rgba(89, 8, 118, 0.75);
}
.footnote .foot-text {
    text-align: center;
}

.img-one {
    position: absolute;
    margin-top: 200px;
    margin-left: 115px;
}

.text-box-one {
    position: absolute;
    margin-top: 200px;
    margin-left: 705px;
    width: 1110px;
    height: 550px;
    border-radius: 7px;
    background: rgba(24, 69, 16, 0.25); /* Fixed rgba format */
    display: flex;  /* Using Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.text-box-one-text {
    /* If additional text styling is needed, it can go here */
    color: white; /* Example: setting the text color */
    font-size: 24px; /* Example: setting the font size */
}

a {
    text-decoration: none;
    color: rgb(39, 90, 255);
  }