body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative; /* Add this line to create a positioning context */
}

header {
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

#contact-me {
    position: absolute; /* Position absolutely within the positioned relative parent */
    bottom: 20px; /* Distance from the bottom edge */
    left: 20px; /* Distance from the left edge */
}