@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    border-radius: 7px;
    width: 1900px;
    height: 105px;
    background: rgba(89, 8, 118, 0.75);
}
.header .head-text {
    text-align: center;
    font-size: 64px;
}
.footnote {
    position: fixed;
    bottom: 0;
    left: 46.037vw;
    right: 46.037vw;
    padding: 2px;
    border-radius: 7px;
    background: rgba(89, 8, 118, 0.75);
}
.footnote .foot-text {
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

#contact-me {
    position: absolute; /* Position absolutely within the positioned relative parent */
    bottom: 20px; /* Distance from the bottom edge */
    left: 20px; /* Distance from the left edge */
}